<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="assets/code/js/headerScript.js"></script>
    <title>Valvoline</title>
</head>
<body>
<header>
    <div class="top-header">
        <a class="logo" href="/">
            <img src="assets/images/svg/logo.svg" alt="valvolineLogo">
        </a>
        <div class="allBusiness">
            <ul class="navList">
                <li class="flexList">
                    <a href="#" class="link">О бренде</a>
                    <ul class="subMenu">
                        <li><a href="#" class="subLink">История бренда</a></li>
                        <li><a href="#" class="subLink">Производство</a></li>
                        <li><a href="#" class="subLink">Valvoline в России</a></li>
                    </ul>
                </li>
                <li class="flexList onHover">
                    <a href="#" class="link">Продукция</a>
                    <ul class="subMenu">
                        <li><a href="#" class="subLink">Продукция</a></li>
                        <li><a href="#" class="subLink">Моторные масла</a></li>
                        <li><a href="#" class="subLink">Для газовых двигателей</a></li>
                        <li><a href="#" class="subLink">Гидравлические масла</a></li>
                        <li><a href="#" class="subLink">Для мототехники</a></li>
                        <li><a href="#" class="subLink">Трансмиссионные масла</a></li>
                        <li><a href="#" class="subLink">Тормозные жидкости</a></li>
                        <li><a href="#" class="subLink">Техническая химия</a></li>
                        <li><a href="#" class="subLink">Индустриальные масла</a></li>
                    </ul>
                </li>
                <li class="flexList onHover">
                    <a href="#" class="link">Для бизнеса</a>
                    <ul class="subMenu">
                        <li><a href="#" class="subLink">Сервис подбора масла</a></li>
                        <li><a href="statDillerom.html" class="subLink">Стать дилером продукции</a></li>
                        <li><a href="#" class="subLink">Купить как юридическое лицо</a></li>
                    </ul>
                </li>
                <li class="flexList"><a href="#"
                                        class="link">Контакты</a></li>
            </ul>
            <div class="toggleLang">
                <div class="selectLang">
                    <ul>
                        <li>RU</li>
                    </ul>
                </div>
            </div>
            <div class="searchOnPage">
                <img src="assets/images/svg/loup.svg" alt="searchLoup" id="searchLoup">
            </div>
        </div>
    </div>
    <div class="searchInput" id="hidenInput">
        <form method="get" action="#">
            <fieldset>
                <label for="searcher"></label>
                <input type="text" id="searcher" title="" placeholder="Например: 5w40">
            </fieldset>
        </form>
    </div>
    <div class="bottom-header">
        <div class="business">
            <a href="#" class="selectOil">Подобрать масло</a>
            <div><img src="assets/images/svg/arrow-left-right.svg" alt="arr" class="arrows"></div>
            <a href="#" class="buyOil">Купить</a>
            <div><img src="assets/images/svg/arrow-left-right.svg" alt="arr" class="arrows"></div>
            <a href="#" class="forPrev">Для юридических лиц</a>
        </div>
        <div class="location">
            <a href="https://yandex.ru/maps/65/novosibirsk/?ll=82.920430%2C55.030199&z=12" class="maps">Новосибирск</a>
        </div>
    </div>
</header>
<main>

</main>
</body>
</html>